@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0047ab;
    --primary-light: #4169e1;
    --secondary: #4169e1;
    --accent: #ff7f50;
    --success: #4caf50;
    --warning: #ffc107;
    --error: #f44336;
    --background: #f5f7fa;
    --card: #ffffff;
    --text-primary: #333333;
    --text-secondary: #6b7280;
}
